<app-page>
  <div id="breadcrumb">
    <app-breadcrumb
      [breadcrumbs]="[{ label: 'Home', url: '' }]"
    ></app-breadcrumb>
  </div>
  <div id="menu">
    <app-order-link></app-order-link>
    <app-button arrow="right">ORDER NOW</app-button>
  </div>
  <div id="body">
    <h1 class="heading">Home</h1>
    <section class="hero">
      <app-carousel></app-carousel>
      <div class="hero-links">
        <app-link-button link="about" icon="assets/icons/3-User.svg"
          >About Us</app-link-button
        >
        <app-link-button link="products" icon="assets/icons/car-light.svg"
          >More about toys</app-link-button
        >
      </div>
    </section>
    <section class="category">
      <h2 class="heading-secondary">Toys categories</h2>
      <div class="category-list">
        <app-category-box
          *ngFor="let category of categories"
          [img]="category.img"
          [count]="category.count"
          [name]="category.name"
        ></app-category-box>
      </div>
    </section>
    <section class="showroom">
      <h2 class="heading-secondary">360° Showroom</h2>
      <div class="showroom-virtual">
        <img
          src="../../../assets/images/showroom.png"
          alt="showroom background"
          class="background"
        />
        <p class="desc">
          Explore a virtual showroom of <br />
          The Republic of Toys
          <img src="../../../assets/icons/Arrow---Right.svg" alt="right" />
        </p>
        <div class="play">
          <div class="play-btn">
            <img src="../../../assets/icons/play-right.svg" alt="play-right" />
          </div>
          <p>Explore 3D showroom</p>
        </div>
      </div>
      <div class="showroom-links">
        <app-link-button
          link="/b2b-sales"
          icon="assets/icons/Dcoument 3 lines 1.svg"
          >Documents for B2B sales</app-link-button
        >
        <app-link-button
          link="/b2b-sales"
          icon="assets/icons/Bookmark check 1.svg"
          [down]="true"
          >Download certificate</app-link-button
        >
      </div>
    </section>
    <section class="testimonials">
      <h2 class="heading-secondary">Our clients are satisfied with us</h2>
      <app-testimonial-list></app-testimonial-list>
    </section>
    <section class="faq" id="faq">
      <div class="faq-container">
        <h2>Frequently asked questions</h2>
        <app-accordion></app-accordion>
      </div>
    </section>
    <section class="clients">
      <h2 class="heading-secondary">Our clients</h2>
      <app-clients-slider></app-clients-slider>
    </section>
    <section class="email-form">
      <app-email-form></app-email-form>
    </section>
  </div>
</app-page>
