.wrapper {
  position: relative;
  margin-left: 4rem;
  width: 107rem;
  .client-slider {
    width: 100%;
    overflow: hidden;
    &-list {
      transition: transform 0.5s ease;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      width: 100%;
      &-item img {
        width: 33rem;
        height: 10rem;
      }
    }
  }
  .control {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 99;
    &.prev {
      position: absolute;
      left: -2.4rem;
      top: 50%;
      transform: translateY(-50%);
      img {
        transform: rotate(180deg);
      }
    }
    &.next {
      position: absolute;
      right: -2.4rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &.active {
      border: none;
      background-color: #db2d37;
    }
  }
}
