<header class="header">
  <div class="container header-container">
    <div class="header-container-logo">
      <a routerLink="">
        <img src="../../../../assets/images/LOGO.svg" alt="Logo" />
      </a>
    </div>
    <nav class="header-container-navbar">
      <ul class="header-container-navbar-list">
        <li>
          <a routerLink="products">
            <img src="../../../../assets/icons/Car-bold.svg" alt="car-bold" />
            Toys
          </a>
        </li>
        <li>
          <a routerLink="showroom">360° Showroom</a>
        </li>
        <li>
          <a routerLink="about">About Us</a>
        </li>
        <li>
          <a routerLink="contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-container-language">
      <img src="../../../../assets/icons/World-bold.svg" alt="world" />
      ENG
      <img src="../../../../assets/icons/down.svg" alt="down" />
    </div>
    <div class="header-container-phone">
      <div>(71) 200-70-60</div>
    </div>
  </div>
</header>
