<div class="testimonials-list">
  <div class="testimonials-list-track right">
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
  </div>
  <div class="testimonials-list-track left">
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
    <app-single-testimonial
      [text]="testimonial.text"
      [job]="testimonial.job"
      [name]="testimonial.name"
      [img]="testimonial.img"
    >
    </app-single-testimonial>
  </div>
</div>
