<div class="carousel">
  <div class="img-container">
    <img src="../../../../assets/images/Rectangle 62.png" alt="" />
  </div>
  <h2 class="heading-secondary">
    Safe and beautiful toys <br />
    for your children
  </h2>
  <p class="description">
    With over 300+ expertly designed projects to inspire the next generation of
    innovators and problem-solvers
  </p>
  <button class="control prev">
    <img src="../../../../assets/icons/Arrow---Right-grey.svg" alt="prev" />
  </button>
  <button class="control next active">
    <img src="../../../../assets/icons/Arrow---Right.svg" alt="next" />
  </button>
  <div class="order">
    <button class="current"></button>
    <button></button>
    <button></button>
    <button></button>
  </div>
</div>
