<footer class="footer">
  <div class="footer-body">
    <div class="footer-body-container container">
      <div class="footer-body-container-logo">
        <a routerLink="">
          <img src="../../../../assets/images/LOGO.svg" alt="Logo" />
        </a>
        <p>
          Subscribe to our social networks<br />and stay up to date with the
          latest<br />news!
        </p>
      </div>
      <nav class="footer-body-container-navbar">
        <ul class="footer-body-container-navbar-navlist">
          <li>
            <a routerLink="products"
              >Toys
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a routerLink="showroom"
              >360° Showroom
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a routerLink="about"
              >About Us
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a routerLink="contacts"
              >Contact
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a routerLink="documents"
              >Documents for B2B sales
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a routerLink=""
              >FAQ
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
        </ul>
      </nav>
      <nav class="footer-body-container-socials">
        <ul class="footer-body-container-socials-navlist">
          <li>
            <a href="https://www.facebook.com" target="_blank"
              >Facebook
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank"
              >Instagram
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="https://telegram.org" target="_blank"
              >Telegram
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com" target="_blank"
              >YouTube
              <img
                src="../../../../assets/icons/Arrow---Right-grey.svg"
                alt=""
              />
            </a>
          </li>
        </ul>
      </nav>
      <div class="footer-body-container-info">
        <p>
          <img src="../../../../assets/icons/phone-number.svg" alt="phone" />
          <span>(71) 200-70-60</span>
        </p>
        <p>
          <img src="../../../../assets/icons/calendar.svg" alt="calendar" />
          <span>Working days Monday — Friday / from 09:00 am to 20:00 pm.</span>
        </p>
        <p>
          <img src="../../../../assets/icons/location.svg" alt="location" />
          <span
            >Uzbekistan / Tashkent City / Olmazor district / Karasaray street
            3.</span
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-side">
    <div class="footer-side-container container">
      <div class="footer-side-container-rights">
        © Copyright / The Republic of Toys /
        <br />
        All rights reserved.
      </div>
      <div class="footer-side-container-terms">Terms and Conditions</div>
      <div class="footer-side-container-policy">Privacy Policy</div>
      <div class="footer-side-container-agency">Redesign Agency®</div>
    </div>
  </div>
</footer>
