#menu {
  padding-bottom: 7rem;
}

.team-message {
  width: 29rem;
  height: 11.2rem;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 1rem;
  padding: 2rem 0 2rem 2rem;
  .icon {
    width: 2.4rem;
    height: 2.4rem;
    img {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
  .text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #10142d;
  }
}

.map--info {
  padding-bottom: 7rem;
  border-bottom: 1px solid #e1e1e1;
  &-container {
    width: 107rem;
    margin-left: 4rem;
    display: flex;
    align-items: top;
    justify-content: space-between;
    .info div {
      margin-bottom: 2rem;
    }
  }
}
